body{
    /* background-image: linear-gradient(279deg,rgba(209,46,48,0.9) 63%,rgba(189,15,30,0.5) 100%)!important; */
    /* font-family: Open Sans,Arial,sans-serif;
    line-height: 1.7em;
    -webkit-font-smoothing: antialiased; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbarcontact{
    justify-content: center;
    align-items: center;
}

.color{
    font-weight: 900;
}

.colorHover:hover{
    color: #3498DB;
}

.formularioSJA{
    margin: 2% 10% 2% 60%;
    padding-bottom: 10px;
    border-radius: 15px;
    background: white;
}

.header{
    background-color: #EC7063;
    flex: .1;
    font-family: 'Mulish', sans-serif;
    letter-spacing: .7px;
    font-size: 20px;
}

.footerColor{
    background-color: #2E4053;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    font-weight: bold;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100px;
}